.filter {
	display: flex;
	flex-direction: column;
	gap: 10px;

	h1 {
		font-weight: 400;
		font-size: 24px;
	}

	.item {
		display: flex;
		flex-direction: column;
		gap: 4px;

		label {
			font-size: 12px;
		}

		input,
		select {
			outline: none;
			width: 100px;
			padding: 10px;
			border: 1px solid #e0e0e0;
			border-radius: 5px;
			font-size: 14px;
			color: #3b3a3a;

			&::placeholder {
				color: #3b3a3a;
			}
		}
	}

	.top {
		input {
			width: 100%;
		}
	}

	.bottom {
		display: flex;
		justify-content: space-between;
		gap: 20px;

		button {
			width: 100px;
			cursor: pointer;
			border: none;
			padding: 10px;
			border-radius: 5px;
			background-color: #fece51;

			img {
				width: 24px;
				height: 24px;
			}
		}
	}
}
